    body   {
        background-color: slateblue;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 800px;
    }

    .bottom {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 800px;
        margin-top: 30px;
    }

    .same {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 1000;
        font-size: large;
    }