    * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    h1 {
        font-size: 50px;
    }

    ul {
        font-weight: 1000;
    }

    body    {
        background-color: violet;
    }